section.sidebar__content
    ul.items
        li.item.item--active: a.item__link
            svg.item__icon
                use(xlink:href="../../img/sprite.svg#icon-home")
            p.item__title hotel
        li.item: a.item__link
            svg.item__icon
                use(xlink:href="../../img/sprite.svg#icon-aircraft-take-off")
            p.item__title flight
        li.item: a.item__link
            svg.item__icon
                use(xlink:href="../../img/sprite.svg#icon-key")
            p.item__title Car Rental
        li.item: a.item__link
            svg.item__icon
                use(xlink:href="../../img/sprite.svg#icon-map")
            p.item__title tours

p.copyrights &copy; 2020 by MANDO. All right reserved.